Package: rtl-wx
Version: VERSION
Section: base
Priority: optional
Architecture: all
Source: rtl-wx
Depends: libjson-perl, libdatetime-perl, libconfig-inifiles-perl, libcgi-pm-perl
Maintainer: Roger Pettett <rmp@psyphi.net>
Description: Weather station receiver, logging, and display, based on RTL-433
